{% extends 'layouts/form.html' %}
{% block title %}Survey{% endblock %}
{% block content %}
  <form method="post" class="form" action="/">
    <h2 class="form-heading">
      Vape Survey
    </h2>
    {{ form.hidden_tag() }}
    
    {% for q_model in form.questions %}
      <h3>Question: {{loop.index}} | {{ q_model.label }}</h3>
      <p>{{q_model.description}}</p>
      {{ form|attr(q_model.label)() }}
      <br/>
    {% endfor %}

    <br/>
    
    <input
      type="submit"
      value="Submit"
      class="btn btn-primary btn-lg btn-block"
    />
    <br />
  </form>
{% endblock %}
